body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 97vw;
    height: 97vh;
    background-color: rgb(170, 88, 88);
}

#div1 {
    width: 300px;
    height: 300px;
    border: solid 1px rgb(0, 0, 0);
    border-radius: 20px 20px 20px 20px;
    box-shadow: 3px 3px 10px black;
    background: rgb(236, 216, 160);
}

#calctxt {
    width: 300px;
    text-align: center;
}

#texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#botoes {
    display: flex;
    margin-top: 25px;
    width: 100%;
    flex-direction: row;
    justify-content: center;
}

#botoes button {
    margin: 10px;
}

#calcular {
    margin-top: 5%;
    width: 90px;
    height: 30px;
}

#resp {
    text-align: center;
}